
<div class="link">
        Here is your shortened url: <a class="highlight" href= "{{shortUrl}}">{{shortUrl}}</a>.<br/>
        The shortened url is available
            <a class="url-link" href="http://localhost:3000/urls/{{urlId}})">here</a>
            (Right click and copy link to share it).
</div>